
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../contenido/img/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.container{
    position: relative;
}

.login_body {
    position: relative;
    margin-left: 78%;
    transform: translateX(-50%);
}

.card {
    width: 500px; 
    height: 330px; 
}



